/* .main calculator{
    display: flex;
    
}
 */

.calculator{
    background-color: rgb(190, 160, 160);
    border:2px solid  black;
    /* display: grid; */
    grid-template-columns: auto auto auto auto ;
    padding: 100px;
}
.display{
    /* background-color: aliceblue; */
    border-radius: 10px;
    display: grid;
    width: 300px;
    padding: 0px;
    margin-bottom: 10px;
    
}

.buttons{

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}