/* .main calculator{
    display: flex;
    
}
 */

.calculator{
    background-color: rgb(248, 248, 248);
    border:2px solid  black;
    /* display: grid; */
    grid-template-columns: auto auto auto auto ;
    padding: 100px;
}
.display{
    /* background-color: aliceblue; */
    border-radius: 10px;
    display: grid;
    width: 300px;
    padding: 0px;
    margin-bottom: 10px;
    
}
.a{
    color: orange;
}
.t{
    background-color:orange ;
    border:none;
    border-radius: 50%;
    height: 59px;

    /* color: orange; */
}

.buttons{

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

